[2022-09-29 17:59] Aadarsh805 opened #5 "make ui responsive"

[2022-09-29 18:01] Aadarsh805 opened #6 "add color variables in the globals.css file"

[2022-09-29 18:05] Aadarsh805 opened #7 "add login/ logout using react-oauth/google library"
read more about the library
https://www.npmjs.com/package/@react-oauth/google

[2022-09-29 18:06] Aadarsh805 opened #8 "implement search functionality"

[2022-09-29 18:09] Aadarsh805 commented on #6
got the colors
![image](https://user-images.githubusercontent.com/95094057/193110106-d4aac542-20ae-4fef-86fa-8629874ec562.png)

[2022-09-29 18:10] #6 closed, assigned to nobody

[2022-09-29 20:27] Aadarsh805 opened #12 "add active link styles on sidebar"

[2022-09-30 11:46] Aadarsh805 commented on #12
done
![image](https://user-images.githubusercontent.com/95094057/193262877-5c7eb894-249e-473c-8361-70b7bd96618a.png)

[2022-09-30 11:46] #12 closed, assigned to nobody

[2022-09-30 16:01] Aman-Mandal opened #16 "Image isn't passing through props in TopArtist.jsx component"
![image](https://user-images.githubusercontent.com/64729135/193310404-0cd90a07-4bbd-49db-aff3-5bf13534fc6b.png)
As you can see in the above image, images aren't passing through props!!

Try to Fix it ASAP ⚡

[2022-09-30 16:03] #16 closed, assigned to nobody

[2022-09-30 16:30] Aadarsh805 opened #19 "add modals for notifications, setting and user profile in navbar component"

[2022-09-30 16:34] Aadarsh805 opened #20 "code the music player on home page"

[2022-10-01 07:35] Aadarsh805 opened #21 "Make sidebar responsive, implement active menu functionality in sidebar for both desktop and mobile size"

[2022-10-05 15:13] Aadarsh805 commented on #21
done

[2022-10-05 15:13] #21 closed, assigned to nobody

[2022-10-05 15:14] Aadarsh805 opened #24 "[Enhancement] make navbar responsive"

[2022-10-05 16:25] Aadarsh805 opened #25 "[Feature] Make top artists and other sections on explore page responsive using overflow scroll and add scroll buttons too"

[2022-10-05 17:18] Im-Kunal-13 commented on #24
@Aadarsh805 I would like to work on this issue. Can you assign this to me?

[2022-10-05 17:34] Aman-Mandal commented on #24
Go ahead Ser !!

[2022-10-05 17:59] Aadarsh805 opened #26 "make trending new hits section scrollable, use dummy data and also make it dynamic"

[2022-10-05 18:02] Aadarsh805 opened #27 "fix grid span: assign one more column to player, reducing one from the others"

[2022-10-05 18:04] Aadarsh805 opened #28 "Make top charts component, very similar to top artists and groovy component, copy/paste"

[2022-10-05 18:10] Aadarsh805 commented on #24
@Aman-Mandal bro how we gonna keep navbar on mobile, do we make another onclick sidebar or do we just push those links to the already made sidebar or we just make then small

[2022-10-05 18:11] hamzailyas237 commented on #24
I want to contribute please assign it to me

[2022-10-05 18:11] Aadarsh805 commented on #24
lets just make them small for now, we'll do it later

[2022-10-05 18:12] Aadarsh805 commented on #24
it's already assigned, you can try other issues or just wait 2-3 days if we don't get any response from the assignee, we'll assign it to you

[2022-10-05 18:12] hamzailyas237 commented on #28
I want to work on this please assign this issue to me.

[2022-10-05 18:13] Im-Kunal-13 commented on #24
I'm on it.

[2022-10-05 18:14] Aman-Mandal commented on #24
We can simply add the navbar links on our already present sidebar and hide the navbar on small screens

[2022-10-05 18:15] Aman-Mandal commented on #28
Go ahead ..a

[2022-10-05 18:15] Aadarsh805 commented on #24
alright Kunal, go ahead

[2022-10-05 18:15] Aman-Mandal commented on #28
Go ahead!! And a very good luck

[2022-10-05 18:16] Im-Kunal-13 commented on #24
Is there a discord community or something where I can contact if I get some issues while developing?

[2022-10-05 18:16] Rohan-Hazari opened #29 "Typo Error"
Shows this error when loading
![image](https://user-images.githubusercontent.com/91898040/194132276-4463fdb8-f0be-4dba-aba9-4de46567d199.png)

In components/Navbar/Navbar.jsx line 42

Changing it to
window.removeEventListener("resize", handleResize);
fixes this

I am new to next.js sorry if this is some mistake from my side while setting up the project locally

[2022-10-05 18:17] Rohan-Hazari commented on #27
Hey I would like to work on this Issue

[2022-10-05 18:17] Aadarsh805 commented on #24
@Aman-Mandal where should they contact us

[2022-10-05 18:17] Aman-Mandal commented on #24
We don't have a community yet, you can text us on twitter (given on readme) for now!! Will make a group/channel soon ✨

[2022-10-05 18:18] Aadarsh805 commented on #27
alright, go ahead sir!!

[2022-10-05 18:19] Aadarsh805 commented on #29
nah nah it's a typo, you can change it

[2022-10-05 18:20] Aman-Mandal commented on #29
No worries..you wanna fix this? If yess go ahead and make a PR

[2022-10-05 18:21] Rohan-Hazari commented on #29
Sure I will make a PR
Thanks

[2022-10-05 18:22] hamzailyas237 commented on #28
Thankyou.

[2022-10-05 18:24] #29 closed, assigned to nobody

[2022-10-05 18:27] PrajwalDhule commented on #26
I would like to work on this, can you assign it to me?

[2022-10-05 18:31] Aman-Mandal commented on #26
Sure Prajwal..go ahead!! Make sure you create a new branch 😃

[2022-10-05 18:39] hamzailyas237 commented on #28
I want to ask what content I can add to the top charts component. Please give some description.

[2022-10-05 18:43] Aadarsh805 commented on #28
use the same data as in the UI
![image_processing20200424-21471-1174txc (1)](https://user-images.githubusercontent.com/95094057/194137700-8b6e31ca-61de-4bd4-9579-fb8881269053.png)

[2022-10-05 18:44] PrajwalDhule commented on #25
can I also work on this issue simultaneously or do I need to complete a previously assigned issue first?

[2022-10-05 18:57] hamzailyas237 commented on #28
@Aman-Mandal okay

[2022-10-05 18:58] Aman-Mandal commented on #25
You wanna do it together? If yess you can.. just give a heads up here

[2022-10-05 19:21] Im-Kunal-13 commented on #24
Cool

[2022-10-05 19:27] PrajwalDhule commented on #26
Hey, just wanted to ask what exactly do you mean by making the new hits section scrollable?

[2022-10-05 19:35] Aadarsh805 commented on #26
you see on the right side of trending section there are buttons and pagination kinda thing to change the trending among 4-5 trending songs, that thing

![image_processing20200424-21471-1174txc (1)](https://user-images.githubusercontent.com/95094057/194147199-3547c50e-141a-4318-a5fc-c003f5048067.png)

[2022-10-05 19:36] PrajwalDhule commented on #25
I had a doubt, what is the purpose of scroll buttons here, is it just to indicate you can scroll down? And do you want just one (for the whole page)?

Actually we are using dummy data for now right? But once we integrate it with API we will need the scroll thing

What do u say?

[2022-10-05 19:40] Aman-Mandal commented on #26
Make a carousel for 4-5 songs (dummy data) and by clicking on the buttons they should change eg. Image slider in our gallery

[2022-10-05 19:43] Aadarsh805 commented on #25
umm it's for mobile screen as 7-8 artists won't fit in mobile screen so we will make them scrollable and have those hover buttons that you can also scroll using buttons if u don't wanna use shift + scroll just like in Netflix browse section they have scrollable rows

[2022-10-05 19:50] Aadarsh805 commented on #26
@PrajwalDhule aif you working on this, you dont have to make the whole thing, the component is already made but wasn't imported in explore page so I just did that, u can take a pull and then work on just the carousel thing

[2022-10-05 20:04] Aadarsh805 commented on #19
made notification modal
![Screenshot from 2022-10-06 01-37-26](https://user-images.githubusercontent.com/95094057/194153237-3ff45360-7ad9-4488-9d31-edc24ce77904.png)

[2022-10-05 20:26] PrajwalDhule commented on #26
ok cool got it, thanks

[2022-10-06 04:12] ArinCodes commented on #7
Since You Guys  are using Next I think it would be Better to Use NextAuth
Shall I work on this issue using NextAuth

[2022-10-06 04:21] Aman-Mandal opened #39 "[Fix] Fix the height of whole application"
Right now as you can see the height of the application keeps on increasing as we add more data, but it should be fixed!!

![image](https://user-images.githubusercontent.com/64729135/194213116-eddbb8c7-c4c5-4a31-8edb-3809f08bf86c.png)

[2022-10-06 04:31] najeebkp commented on #39
hi @Aman-Mandal  please assign this to me

[2022-10-06 05:13] Aman-Mandal commented on #7
Yeah Go ahead @ArinCodes 😀

[2022-10-06 05:20] Aman-Mandal commented on #39
Good luck @najeebkp

[2022-10-06 06:02] #20 closed, assigned to Aman-Mandal

[2022-10-06 06:03] nidhi333-9 commented on #8
@Aadarsh805 Hey there! I would like to work on this.

[2022-10-06 06:03] #26 closed, assigned to PrajwalDhule

[2022-10-06 06:06] Aadarsh805 opened #42 "move navbar links to sidebar when on mobile view"
we can keep the notification and settings in nav on the right side , moving others to sidebar

[2022-10-06 06:06] Aadarsh805 commented on #42
we can keep the notification and settings in nav on the right side , moving others to sidebar

[2022-10-06 06:08] Aadarsh805 opened #43 "make a ui design of explore page for mobile view"
basic layout where we keep player fixed on bottom and other things scrollable

[2022-10-06 06:08] Soumyajit2825 commented on #42
@Aadarsh805 want to contribute in it

[2022-10-06 06:09] Aadarsh805 commented on #42
@Soumyajit2825 alright go ahead and good luck

[2022-10-06 06:10] Soumyajit2825 commented on #42
ok thanks

[2022-10-06 06:10] deven-533 commented on #43
Can you assign me this issue Sir.

[2022-10-06 06:11] Aadarsh805 commented on #42
@Soumyajit2825 what you can do this make the same search from navbar on sidebar top after the grooy logo and keep it hidden until screen size less than md
you can just hide profile and other links on mobile for now

[2022-10-06 06:12] Soumyajit2825 commented on #42
ohkay trying to do as u told

[2022-10-06 06:18] #39 closed, assigned to najeebkp

[2022-10-06 06:23] Soumyajit2825 commented on #42
@Aadarsh805 I thought that it is based on HTML but looks like react-js.

[2022-10-06 06:26] Aadarsh805 commented on #19
user profile modal
![image](https://user-images.githubusercontent.com/95094057/194229738-c26bd516-4b2f-476a-8969-fb4cbb9ccc90.png)

[2022-10-06 06:26] Aadarsh805 commented on #19
i don't know what to make in settings modal

[2022-10-06 06:27] Aadarsh805 commented on #42
@Soumyajit2825 yeah it's react + next, you are not familiar with react ig, no worries

[2022-10-06 06:29] Aman-Mandal commented on #8
Go ahead!! 😃

But for now we haven't connected this with API so there's nothing much to do, but you can change the state and other stuffs

[2022-10-06 06:29] Soumyajit2825 commented on #42
yes...thanks

On Thu, Oct 6, 2022 at 11:58 AM Aadarsh Thakur ***@***.***>
wrote:

[2022-10-06 06:30] Aadarsh805 commented on #25
top artists is done but still need to do top charts as it is overflowing out of screen

[2022-10-06 06:35] Aman-Mandal commented on #19
Let's make a different page for settings where we can add dark mode/light mode, maybe some terms & conditions, volumes, about, version, logout, etc stuffs what do u say?

[2022-10-06 06:36] Aadarsh805 commented on #19
yeah we can do that because there's not much left to place there

[2022-10-06 07:36] MarianCekan commented on #43
Hello, is this issue still available please?

[2022-10-06 07:43] ARNAV1233 commented on #43
@Aadarsh805  I want to contribute to the issue

[2022-10-06 07:44] Aman-Mandal commented on #43
You wanna work on design? Go ahead !!

Steps :
1. Fork and clone it
2. Install dependencies
3. Create a new folder namely "Design"
4. Create a new sub-folder called "Mobile- Explore_page"
5. Add a Figma/image file of the design u created
6. Push it and create a PR

[2022-10-06 07:47] ARNAV1233 commented on #43
Can I do this issue as well

[2022-10-06 07:53] Aman-Mandal commented on #43
I already assigned it @MarianCekan but If you want to work on design, you can work on the other pages, I will create an issue for it!!

Works?

[2022-10-06 07:58] Aman-Mandal opened #46 "[UI/UX] Create a UI Design for 'Genres' page"
Create a figma file for Genres page, make sure it looks similar to the Homepage(Explore page).

Steps :

1. Fork and clone it
2. Install dependencies
3. Open the Design folder
4. Create a new sub-folder called "Desktop-Genres_page"
5. Add a Figma/image file of the design u created
6. Push it and create a PR

[2022-10-06 08:01] ARNAV1233 commented on #43
thanks

[2022-10-06 08:02] ARNAV1233 commented on #46
@Aman-Mandal  can I do it

[2022-10-06 08:05] Aman-Mandal commented on #46
Yess Sir ...go ahead

Make sure u create a new branch

[2022-10-06 08:11] Aman-Mandal opened #47 "[UI/UX] Create a UI design for Albums page"
Create a Figma file for the Albums page, you can refer to the Spotify web player !!

Steps :

1. Fork and clone it
2. Install dependencies
3. Open the folder "design"
4. Create a new sub-folder called "Mobile- Explore_page"
5. Add a Figma/image file of the design u created
6. Push it and create a PR

[2022-10-06 08:14] Aman-Mandal commented on #46
I have added the design folder, add the figma file inside it

[2022-10-06 08:15] Aman-Mandal commented on #43
I have created a design folder, make sure you add your design inside it

[2022-10-06 08:15] ARNAV1233 commented on #46
thanks

[2022-10-06 10:20] #7 closed, assigned to ArinCodes

[2022-10-06 11:10] Aadarsh805 commented on #27
fixed

[2022-10-06 11:10] #27 closed, assigned to Rohan-Hazari

[2022-10-06 11:11] Aadarsh805 commented on #28
done

[2022-10-06 11:11] #28 closed, assigned to hamzailyas237

[2022-10-06 11:11] Aadarsh805 commented on #25
this is also done

[2022-10-06 11:11] #25 closed, assigned to nobody

[2022-10-06 11:15] PrajwalDhule commented on #47
Can I work on this? I really like designing :)

[2022-10-06 11:35] Aadarsh805 commented on #47
yeah sure go ahead and good luck

[2022-10-06 11:51] nidhi333-9 commented on #8
Thanks, @Aman-Mandal  for assigning this to me :)

[2022-10-06 12:03] Aadarsh805 opened #52 "implement dynamic data fetch from Shazam Api"
https://rapidapi.com/tipsters/api/shazam-core/

[2022-10-06 12:03] Aadarsh805 commented on #5
navbar remaining, everything else is responsive in explore page

[2022-10-06 12:11] Aadarsh805 commented on #8
alright this is also done, will need to implement this with shazam API data only now

[2022-10-06 12:12] #8 closed, assigned to nidhi333-9

[2022-10-06 12:15] Aadarsh805 opened #53 "Put songs on player from searchbar, from top charts & from trending"
putting actual songs will be only functional when we have actual songs from shazam API,
we can work on putting the song name and artist's image on the player first

[2022-10-06 12:18] Aadarsh805 opened #54 "lyrics popup on player functionality without lyrics just a blank popup modal"

[2022-10-06 12:21] Aadarsh805 opened #55 "the searchbar disturbs the position of navbar when something is searched, the search box should be out of input field and below the input search"
![Screenshot from 2022-10-06 17-49-39](https://user-images.githubusercontent.com/95094057/194310891-f8333a74-38f1-4e3e-8fd0-f10e9e425c81.png)

[2022-10-06 12:34] manav-06 commented on #55
Hi @Aadarsh805 You can assign this to me

[2022-10-06 12:35] manav-06 commented on #54
Hi @Aadarsh805 You can assign this to me

[2022-10-06 13:36] tarunfy opened #56 "Navbar bugs, minor UI fixes and removal of unused code."
Found a bug in the navbar and had to fix search bar width in the navbar for better UX.
<img width="1440" alt="Screenshot 2022-10-06 at 7 04 01 PM" src="https://user-images.githubusercontent.com/51208270/194327376-a727cf9e-167e-44c8-ae30-0c1c4e9aa0e0.png">

It says 'none' in the navbar even when there's no user for profile picture. Please assign me this task to fix all these issues 🙂

[2022-10-06 14:36] Aadarsh805 commented on #55
@manav-06 yep go ahead Manav

[2022-10-06 14:38] Aadarsh805 commented on #56
@tarunfy did u push those changes ??
also u need to make a git pull after you sync your forked repo, this is 2-3 commits behind ig

[2022-10-06 14:39] Aadarsh805 commented on #54
@manav-06 assigned, good luck

[2022-10-06 15:44] #55 closed, assigned to manav-06

[2022-10-06 17:11] peterintech commented on #42
please assign this to me

[2022-10-06 17:20] peterintech commented on #5
assign it to me

[2022-10-06 17:28] Aman-Mandal commented on #42
Suree...go ahead Sir!!

[2022-10-06 17:30] Aman-Mandal commented on #5
I have assigned you an issue just now, but if you wanna do this one too, go ahead!! Add both the commits on the same branch and then make a PR

[2022-10-06 17:57] Aman-Mandal commented on #56
#59

[2022-10-06 17:57] #56 closed, assigned to nobody

[2022-10-06 18:00] Aman-Mandal opened #60 "[Bug] Explore page is stuck and not scrolling"
https://user-images.githubusercontent.com/64729135/194385297-b2a8a216-df86-4c26-9c7a-d714ccb3680a.mp4

As you can see in the above video, the application is scrolling nicely but when I navigated to the explore page with the sidebar, it was totally stuck!!

[2022-10-06 18:23] Aman-Mandal opened #62 "[BUG] Fix the notification modal and close modal by clicking the notification button"
(Issue for beginners)

1. Fix the notification modal by adding the z-index property
2. When the notification button is clicked, the modal should close!!

![image](https://user-images.githubusercontent.com/64729135/194389222-ea71342d-634e-459c-b9ee-6fcc739c9933.png)

[2022-10-06 18:27] racky7 commented on #62
@Aman-Mandal Please assign it to me.

[2022-10-06 18:29] mastermanav09 commented on #60
Done!

[2022-10-06 18:47] Aman-Mandal commented on #62
Go ahead Sir..good luck!!

[2022-10-06 18:50] #60 closed, assigned to nobody

[2022-10-07 07:06] MarianCekan commented on #43
Hello, I was trying to find the issue where I can integrate some kind of data from already existing part of code so I will have to understand the code already written. For example to build FE for some page in your app. So I'll unassign myself from this issue.

By any chance don't you have any kind of issue I described above? (preferably labled #good first issue) We can move to private chat If you

[2022-10-07 07:26] Aman-Mandal commented on #43
Heyy, No problem!! Right now we aren't having any FE part but in 1-2 days we will start working on other pages of our application, you can contribute to that!! And yeah..you can text me anytime on Twitter (given in the Readme) ..Thankyouu!!

[2022-10-07 08:40] Aadarsh805 commented on #53
except from searchbar, else works

[2022-10-07 08:42] Aadarsh805 commented on #62
@Aman-Mandal is there scroll still in your screen size
or is your cloned repo behind some commits, because this issue is already fixed

[2022-10-07 08:50] Aadarsh805 opened #64 "[BUG] search field input displays searched songs incorrectly placed"
![Screenshot from 2022-10-07 14-17-47](https://user-images.githubusercontent.com/95094057/194513322-63fe0696-6016-4c16-8b61-d41461c7f2d0.png)

[2022-10-07 08:53] Aadarsh805 opened #65 "fix search functionality to filter songs starting from that letter and not all letters present in that song"
like if you put 'a' in the input field it should show songs starting from 'a' only and not all songs containing 'a' in it

[2022-10-07 09:00] Aman-Mandal commented on #62
Are u sure? because my repo is totally updated...maybe someone fixed it after putting the issue
Coz, it was there last night

[2022-10-07 09:10] #53 closed, assigned to nobody

[2022-10-07 09:15] Aadarsh805 commented on #62
yeah maybe, it works fine now in mine, you can also check in your local

[2022-10-07 09:15] Aadarsh805 commented on #52
@Aman-Mandal when should we start working on this

[2022-10-07 09:38] shivampandey0 commented on #65
Hi, I can fix it. Can you assign it to me?

[2022-10-07 09:48] Aadarsh805 commented on #65
great, go ahead

[2022-10-07 10:00] Aadarsh805 opened #69 "add dummy songs with trending songs data, top charts data and push them into player and autoplay"

[2022-10-07 10:01] Aadarsh805 commented on #62
this is fixed

[2022-10-07 10:01] #62 closed, assigned to racky7

[2022-10-07 10:05] anujverma-eng opened #71 "Added Key Prop"
Hi @Aman-Mandal,
Just saw a Little bug, [ doesn't make much difference ],
I've fixed it. this helps in removing this warning.
![image](https://user-images.githubusercontent.com/66346190/194530098-efb92254-bd4a-4f4d-84f9-9a031ae56fcf.png)

## **Before**
![key prop errro](https://user-images.githubusercontent.com/66346190/194528935-c0a4bbc2-f648-435f-bbe1-389b7e5ebfcc.png)

## **After**
![key prop e

[2022-10-07 10:16] shivampandey0 commented on #65
PR #73 fixes this

[2022-10-07 10:30] #65 closed, assigned to shivampandey0

[2022-10-07 10:32] #71 closed, assigned to nobody

[2022-10-07 10:33] Aman-Mandal commented on #52
will WhatsApp u!!

[2022-10-07 10:33] #64 closed, assigned to nobody

[2022-10-07 10:55] Aadarsh805 commented on #47
![Uploading image.png…]()

[2022-10-07 10:55] Aadarsh805 commented on #47
![image](https://user-images.githubusercontent.com/95094057/194537691-6fcb1cb1-7303-4238-a5a7-c8e72ac70eb0.png)

[2022-10-07 12:07] Rohan-Hazari commented on #43
Hey can I also try this?

[2022-10-07 12:32] Aadarsh805 commented on #43
yes Rohan u can, try to make it somewhat like how Spotify do it for the player part, else you can just make it just like our desktop design

[2022-10-07 14:51] reny-pacheco opened #76 "make cursor to pointer when hovering Groovy title in sidebar"
### Make the cursor to pointer when hovering the **Groovy** title in sidebar.
In my own opinion, since it is a link, it's much better to change the cursor to pointer.

Screenshot:
![image](https://user-images.githubusercontent.com/64537418/194584560-f6f850e4-9bff-48bb-82b2-4d0dd7d49958.png)

[2022-10-07 14:55] reny-pacheco commented on #76
Hi there, If this is a valid issue, I would like to work on this. Please assign this to me. Thank you

[2022-10-07 15:05] Aman-Mandal commented on #76
Go ahead Sir

[2022-10-07 15:30] chakrinya009 commented on #69
can you please assign this issue

[2022-10-07 15:33] Aman-Mandal commented on #76
#77 PR merged!!

[2022-10-07 15:33] #76 closed, assigned to reny-pacheco

[2022-10-07 15:57] peterintech commented on #5
Alright

[2022-10-07 15:59] peterintech commented on #42
Alright, let me keep my self busy

[2022-10-07 15:59] peterintech commented on #42
DO you have the designs

[2022-10-07 16:08] OneAutumLeaf commented on #69
hi  @Aadarsh805
can u please assign this to me

[2022-10-07 16:09] Aadarsh805 commented on #69
assigned, good luck

[2022-10-07 16:10] Aadarsh805 commented on #69
no wait @chakrinya009 asked first so they get it

[2022-10-07 16:23] reny-pacheco opened #81 "duplicate Albums label on sidebar"
Duplicate **Albums** label in sidebar.

Clicking either of the two highlights both.

Screenshot:

![image](https://user-images.githubusercontent.com/64537418/194601060-d49378b5-ad73-4517-b330-b4dad3f67d5a.png)

[2022-10-07 16:25] reny-pacheco commented on #81
Hi there, if this is a valid issue, I would like to work on this. Thank you

[2022-10-07 16:26] Aman-Mandal commented on #81
Go ahead..remove it from one place

[2022-10-07 16:32] Aman-Mandal commented on #42
Naah .. we dont have designs right now !!

[2022-10-07 16:51] Aman-Mandal opened #84 "[BUG] Fix the Top Charts Component for medium screen sizes"
The top Charts component looks fine on the large screen size (15.6 & more )
![image](https://user-images.githubusercontent.com/64729135/194606247-45520d8b-3f93-46ce-9e98-b923e5bec0b8.png)

But it needs to be fixed for small screen laptops and medium screens
![image](https://user-images.githubusercontent.com/64729135/194606778-dd2a7054-30ef-4365-b10c-9506871dc838.png)

[2022-10-07 17:05] #81 closed, assigned to reny-pacheco

[2022-10-07 17:38] bkjain655 commented on #84
Hi @Aman-Mandal ,

Can you please elaborate the issue here?
I forked your repo and tried on my 13.3 laptop (Chrome browser) & it seems to be fine.
Please find attached screenshot.
<img width="1440" alt="Screenshot 2022-10-07 at 23 05 14" src="https://user-images.githubusercontent.com/32372388/194617181-c57ed4aa-1fd3-4d78-bf52-fa459dafd0c9.png">

[2022-10-07 17:52] Aman-Mandal commented on #84
See the songs in the top charts component.. they are not aligned properly!!

The image and the song name are not looking fine..you can see it in your screenshot too

[2022-10-07 20:54] rafaeldias97 commented on #84
@Aman-Mandal
I solved the problem, could you assign me ?

[2022-10-08 00:37] peterintech commented on #42
Alright, I'll create one.
I'll also add a floating player menu link this
![ApplicationFrameHost_hILa0g3snN](https://user-images.githubusercontent.com/66377818/194678680-32ad78ff-b02e-4f90-9f01-4a0b0e43ed93.png)

[2022-10-08 04:48] #84 closed, assigned to nobody

[2022-10-08 04:53] Aadarsh805 commented on #42
that'd be awesome

[2022-10-08 10:40] Rohan-Hazari commented on #43
Hey, can I get some more time it's my first time trying designing in Figma so its taking time is that okay?

[2022-10-08 10:51] Aman-Mandal commented on #43
Yeah sure !! Take your time..

Just keep us updated that's all

[2022-10-09 08:47] Aadarsh805 opened #88 "make a basic loader component to show when fetching data from api"

[2022-10-09 08:49] racky7 commented on #88
@Aadarsh805 Please assign it to me.

[2022-10-09 08:54] Aadarsh805 commented on #88
assigned, go ahead

[2022-10-09 08:55] racky7 commented on #88
@Aadarsh805 Thanks! please provide the detail/route of the component.

[2022-10-09 08:57] Aadarsh805 opened #89 "Can we setup a single api and use it to make different endpoints req"
setup a baseURL: 'https://shazam.p.rapidapi.com/'
and make multiple endpoints like
getTopCharts will fetch from baseURL/topCharts
getTopArtists will fetch from baseURL/topArtists

[2022-10-09 10:36] Aadarsh805 commented on #88
@racky7 You can just make a component named Loader.jsx in components folder, we will import it in places wherever necessary

[2022-10-09 10:38] Aadarsh805 commented on #88
you can use react-loader library if u want or u can make custom

[2022-10-09 11:11] Somidh opened #95 "updated + button to material icon because it was not centered"

[2022-10-09 12:30] racky7 commented on #88
Sorry, I am unassigning myself.

[2022-10-09 12:30] ann0nip opened #97 "Warning 'two children with the same key' on the top chart list."
![Screen Shot 2022-10-09 at 09 28 12](https://user-images.githubusercontent.com/2248100/194756845-1b1f6dab-f03d-45a4-9c63-5b1b08af4487.png)

The map loop should use a unique key as props. The response has that; I will update that.

Please assign it to me.

[2022-10-09 12:33] Aman-Mandal commented on #89
No idea Sir, but we can give it a shot

[2022-10-09 12:36] Aman-Mandal commented on #97
Sure sir..go ahead!!

[2022-10-09 12:47] #97 closed, assigned to ann0nip

[2022-10-09 15:48] vinayak41 commented on #88
Please assign it to me.

[2022-10-09 16:21] Aman-Mandal commented on #88
Here u go Sir!! Good luck :)

[2022-10-09 16:38] vinayak41 commented on #88
Can i get a design for loader ?

[2022-10-09 18:06] Aman-Mandal commented on #88
We don't have any particular design but you can make something similar to our UI.

Take reference from dribbble or other designing platforms

[2022-10-09 18:09] vinayak41 commented on #88
#99

[2022-10-10 05:57] peterintech commented on #43
Hi @Rohan-Hazari  can you send the link to the designs, the file is not opening so I know what am working with

[2022-10-10 07:22] #88 closed, assigned to vinayak41

[2022-10-10 07:56] #95 closed, assigned to nobody

[2022-10-10 07:56] #69 closed, assigned to chakrinya009

[2022-10-10 09:02] Aadarsh805 commented on #52
topCharts and topArtists done

[2022-10-10 09:02] Aadarsh805 opened #104 "make artists detail page"

[2022-10-10 09:03] Aadarsh805 opened #105 "make players previous and next button work"

[2022-10-10 09:05] Aadarsh805 opened #106 "remove padding-right from topArtists component so that it shows that there are more artists to the right if scrolled"

[2022-10-10 09:14] SomilAjmera commented on #106
please assign this issue to me

[2022-10-10 09:19] vinayak41 commented on #104
I would like to work on this issue. Can you assign this to me?

[2022-10-10 11:06] vinayak41 commented on #104
Can i get design for this.

[2022-10-10 12:27] Aadarsh805 commented on #104
we don't have designs yet

[2022-10-10 12:29] Aadarsh805 opened #108 "[UI/UX] Design artist details page"
banner with artist's image and his top popular songs
kinda like this

![image](https://user-images.githubusercontent.com/95094057/194866483-2004908d-68ec-4222-a5b2-ec7665171e48.png)

[2022-10-10 12:30] #106 closed, assigned to SomilAjmera

[2022-10-10 15:55] Aadarsh805 opened #109 "the api calls are limited, so if the charts or artists are not loading, go to rapidApi and subscribe to shazam core api and setup your own rapidApi key in .env file"

[2022-10-10 17:53] Aadarsh805 opened #110 "fix trending component's font-size, gap and margins on mobile screen size to make it responsive"

[2022-10-10 18:06] jsvigneshkanna commented on #110
Assign me this issue, will fix this in sometime

[2022-10-10 18:12] gaurav-iitb commented on #110
can you please assign this to me

[2022-10-10 18:21] Aadarsh805 commented on #110
alright you have this, don't take much time though or we'll assign the next user

[2022-10-10 18:21] Aadarsh805 commented on #110
I'll create some other issue for you

[2022-10-10 18:29] Aadarsh805 opened #111 "remove music,podcast, live links from navbar component on mobile screen size as well as the settings icon"
we can maybe create a dropdown fro music, podcast and live later

[2022-10-10 18:30] Aadarsh805 commented on #111
![Screenshot from 2022-10-10 23-57-37](https://user-images.githubusercontent.com/95094057/194930934-eb479c5a-8354-4ada-9fa0-4f8ecb2e2f54.png)

[2022-10-10 18:32] Aadarsh805 opened #112 "fix overflow form the floating player component on small mobile sizes"
make icons small, remove left padding and make it fit nicely
![Screenshot from 2022-10-11 00-01-15](https://user-images.githubusercontent.com/95094057/194931254-9026022e-704a-45a6-ad57-069c643fcb44.png)

[2022-10-10 18:35] Aadarsh805 opened #113 "fix overall left padding on this screen size, iphone 12pro(390x844)"
![Screenshot from 2022-10-11 00-04-35](https://user-images.githubusercontent.com/95094057/194931683-4a55497c-128a-4772-8e73-c8e7e5804ec6.png)

[2022-10-10 18:36] ankitkumar0622 commented on #113
hi , can you please assign me this task.

[2022-10-10 18:40] Aman-Mandal commented on #113
Go ahead Sir

[2022-10-10 19:12] gaurav-iitb commented on #112
please assign this to me

[2022-10-10 19:12] gaurav-iitb commented on #111
please assign this to me

[2022-10-10 19:12] gaurav-iitb commented on #110
sure thanks

[2022-10-10 19:14] Aman-Mandal commented on #112
Good luck

[2022-10-10 19:15] Aman-Mandal commented on #111
I've already assigned you a task...so if you wanna do this one too!! Lemme know

[2022-10-10 19:17] gaurav-iitb commented on #111
yeah please assign me this one too

[2022-10-10 19:19] Aman-Mandal commented on #111
Okayy... fix both the issues on same branch and make only 1 PR

[2022-10-10 20:19] gaurav-iitb commented on #111
@Aman-Mandal hi I have merged the pr please review it
ThankYou!!

[2022-10-11 06:38] nidhi333-9 commented on #108
Hey @Aadarsh805, I would like to work on this section. Please, assign this to me.

[2022-10-11 09:52] Sakshy18 commented on #47
i could do this please assign me

[2022-10-11 11:12] Rohan-Hazari commented on #43
@iampitrus sorry for delay
https://www.figma.com/file/lMqNIfH6Vu6bAy75acxIvS/Untitled?node-id=0%3A1

[2022-10-11 12:32] Aadarsh805 commented on #47
you got it, keep it minimal and more like the above commented Spotify screenshot, good luck

[2022-10-11 12:33] Aadarsh805 commented on #43
these are better than what we have now, we could definitely make sidebar like that, maybe in the next update, great work

[2022-10-11 12:35] Aadarsh805 commented on #108
Ay you got it, you don't have to spend too much time on it, you can just use this Spotify screenshot and make some changes to it

[2022-10-11 12:40] #113 closed, assigned to ankitkumar0622

[2022-10-11 12:40] #112 closed, assigned to gaurav-iitb

[2022-10-11 12:41] #111 closed, assigned to gaurav-iitb

[2022-10-11 12:41] #110 closed, assigned to jsvigneshkanna

[2022-10-11 13:20] nidhi333-9 commented on #108
Just I have to create the design, not have to code??

[2022-10-11 13:48] Aadarsh805 commented on #108
as soon as we have a basic UI design we'll create issues to code the page too

[2022-10-11 13:55] vinayak41 commented on #108
There is already a issue for  that
#104

[2022-10-11 14:16] Aadarsh805 commented on #108
will make component level issues instead of create whole page, will delete that issue

[2022-10-11 14:16] #104 closed, assigned to nobody

[2022-10-11 14:55] ann0nip opened #115 "[Bug] The time duration shows NaN"
At the beginning of the song loading, the song duration in the player shows NaN.

I can fix this. Please assign the issue to me.

<img width="732" alt="Screen Shot 2022-10-11 at 11 46 13" src="https://user-images.githubusercontent.com/2248100/195125915-1dec03e9-4811-4c79-9de6-86b03f06418b.png">

[2022-10-11 15:09] Sakshy18 commented on #47
Any specific color theme that you would like yo see?

On Tue, 11 Oct 2022, 6:02 pm Aadarsh Thakur, ***@***.***>
wrote:

[2022-10-11 15:30] peterintech commented on #43
Alright thanks

[2022-10-11 16:06] Aman-Mandal commented on #115
Thanks for giving your time ✨

[2022-10-11 16:06] #115 closed, assigned to nobody

[2022-10-11 16:09] Aman-Mandal commented on #47
You can keep it similar to the homepage (explore page)
Good luck ✨

[2022-10-11 18:53] Rohan-Hazari commented on #43
Glad you liked it 😁

[2022-10-12 10:18] nidhi333-9 commented on #108
![Desktop - 3](https://user-images.githubusercontent.com/84095928/195317074-3d6e3c1d-7e9c-43ee-9ef3-79cd6ba6402d.png)
@Aadarsh805 Is it good??

[2022-10-12 10:32] Aman-Mandal commented on #108
Looks Awesome ... literally!!

Btw, we can decrease the right and left padding na? It will look good what do u say

[2022-10-12 11:56] Aadarsh805 commented on #108
damn this is really great

[2022-10-12 11:57] Aadarsh805 commented on #108
yeah that we can adjust according to screen sizes

[2022-10-12 11:58] Aadarsh805 commented on #108
@Aman-Mandal I'm putting issues to code this

[2022-10-12 11:59] Aadarsh805 opened #120 "Make aritsts detail page banner"
![image](https://user-images.githubusercontent.com/95094057/195336891-2ede2d80-9aa1-434b-a3bb-2f6315a3694f.png)

[2022-10-12 12:00] Aadarsh805 opened #121 "Make dynamic routes for artists detail page linking them to top artists section in explore page"

[2022-10-12 12:01] Aadarsh805 opened #122 "setup fetching artists detail data from shazam core API in artists detail page"

[2022-10-12 12:03] Aadarsh805 opened #123 "Make the artsitsSongsList component using dummy data, will make it dynamic later"
![image](https://user-images.githubusercontent.com/95094057/195337775-0caa1a85-d34a-45b2-b0fd-33688112fa0c.png)

[2022-10-12 12:04] Aadarsh805 opened #124 "Deploy"

[2022-10-12 12:05] Aman-Mandal commented on #124
On it

[2022-10-12 12:26] whiletrueee commented on #122
hey can you assign me this task ? @Aadarsh805

[2022-10-12 12:36] Aadarsh805 commented on #122
you got it, good look

[2022-10-12 12:54] diegolikescode commented on #89
yes we can @Aadarsh805, we will fetch the data from the Next app, right? U can assign this issue for me too and I'll do it <3

[2022-10-12 13:22] StanislavKysela commented on #121
Hi. I would like to ask about this issue. When I start project there is nothing at the artists page so I am not sure what to do. Could you please give more information about this issue? Thank you.

[2022-10-12 13:30] Aadarsh805 commented on #89
that's great you got it, good luck!!

[2022-10-12 13:33] Aadarsh805 commented on #121
you don't have to make anything in artistDetails or in the artists page, just make the artists page as a dynamic route ,like this [artistDetails].jsx
and then make the artists in the top artists component  link to that dynamic route with their id like this : <Link href=`Artitsts/${artist.id}`

[2022-10-12 13:55] codingmickey commented on #123
hi @Aadarsh805, I can work on this issue!

[2022-10-12 14:05] Aman-Mandal commented on #123
Go ahead Sir

[2022-10-12 14:38] nidhi333-9 commented on #108
@Aman-Mandal @Aadarsh805 Thanks 😊🙌. One more query...Will it be counted in my contribution??😅

[2022-10-12 14:46] nidhi333-9 commented on #120
@Aadarsh805 I would like to work on this...😁🙌. Please assign this to me.

[2022-10-12 15:52] Aadarsh805 commented on #120
Yep sure, good luck!!

[2022-10-12 15:56] Aadarsh805 commented on #108
yes yes sure, it definitely will be
you can also put those files(the Figma link or  just the design picture) in the design folder and make a pr

[2022-10-12 16:06] vinayak41 commented on #121
I would like to work on this issue, can you please assign it to me?

[2022-10-12 16:15] nidhi333-9 commented on #108
Sure, Thanks @Aadarsh805 for mentoring😊🙌

[2022-10-12 16:35] nidhi333-9 commented on #120
Thanks :)

[2022-10-12 16:52] Aman-Mandal commented on #108
Ohh definitely!! As Aadarsh already said 😃

[2022-10-12 17:08] diegolikescode commented on #89
@Aadarsh805 dude, I have done and tested the rapidapi but these guys don't let you do that much requests, actually I think I already did my monthly request limit, wish to try some other music API? The axios config is done and we just need the right API

[2022-10-13 04:58] 72002sweta commented on #108
heyii @Aadarsh805 could you please assign me this task, i would love to work on it

[2022-10-13 05:03] 72002sweta commented on #46
i would like to contribute will you please assign me this.

[2022-10-13 05:04] Aman-Mandal commented on #108
Ohhh... I'm so sorry Shweta but this issue is already completed, I just forgot to close it!!

You can checkout some new issues or if you want to design something, lemme know I'll open a new issue for u 😃

[2022-10-13 05:07] Aman-Mandal commented on #89
Exactly!! We are facing alot if issues with Shazam API..I think we need to change the API!!

You know about any good API for music?

[2022-10-13 05:08] Aman-Mandal commented on #46
Go ahead✨

[2022-10-13 05:12] 72002sweta commented on #108
Ohh!! issokaii thanks.

[2022-10-13 10:00] whiletrueee commented on #122
@Aadarsh805 can you please elaborate a bit , I am not able to find the artist detail page but I found the artists page which is empty

[2022-10-13 14:56] whiletrueee commented on #122
@Aadarsh805 hey, hello !

[2022-10-13 15:14] Aadarsh805 commented on #122
Hey, I was away sorry,
Ig there is a artist details page now, just take a pull
Well you have to do the fetching in contextprovider.js and make an api endpoint in api/artistsdetails

[2022-10-13 15:22] whiletrueee commented on #122
okay cool,

[2022-10-13 17:39] Rohan-Hazari opened #130 "Sidebar Title"
The sidebar title is placed weirdly and also missing the icon

![image](https://user-images.githubusercontent.com/91898040/195670519-0f893b1e-db70-4ef9-a14e-a7991e747460.png)

![image](https://user-images.githubusercontent.com/91898040/195666747-af32f685-434a-44f2-8c2f-85c2e1ff9978.png)

Don't assign it to me just wanted to point out
This can be a good first issue for newcomers :)

[2022-10-13 18:24] Aman-Mandal commented on #130
Thanks for pointing it out

[2022-10-13 19:51] 72002sweta commented on #46
done @Aman-Mandal please check

[2022-10-14 03:26] Aman-Mandal commented on #46
Nice one!!🤞

[2022-10-14 03:27] #46 closed, assigned to 72002sweta

[2022-10-14 03:38] #130 closed, assigned to nobody

[2022-10-14 06:14] Aman-Mandal commented on #124
Done

[2022-10-14 06:14] #124 closed, assigned to Aman-Mandal

[2022-10-14 06:19] Aman-Mandal opened #134 "[BUG] The Icons on the Navbar got transparent"
All the icons on the Navbar got transparent or black
![image](https://user-images.githubusercontent.com/64729135/195776095-1fa52959-9091-4374-8b07-2247f49f24cb.png)

Make it look like the Original UI

[2022-10-14 06:21] Anish-Sarawgi commented on #134
@Aman-Mandal  I want to work on this issue.

[2022-10-14 06:23] Aman-Mandal opened #135 "[Feature] Add a Close button on Sidebar in mobile size"
There's no way to close the Sidebar on the small screen (Mobile)
![image](https://user-images.githubusercontent.com/64729135/195776675-8900cab6-3afc-4270-a2d2-d71beedcca8a.png)

So add a close button to the sidebar along side the Groovy logo

[2022-10-14 06:27] jsvigneshkanna commented on #135
Please assign me this issue

[2022-10-14 06:28] jsvigneshkanna commented on #134
Please assign me this issue, will fix

[2022-10-14 06:31] Aman-Mandal commented on #134
Go ahead Sir :))

[2022-10-14 06:33] Aman-Mandal commented on #134
Hey, sorry mate!! But @Anish-Sarawgi asked first, and you can check out other issues in the repo!! I hope you will find a nice one

[2022-10-14 06:34] Aman-Mandal commented on #135
Sure @jsvigneshkanna !! Go ahead

[2022-10-14 06:44] sandilya27 commented on #135
can I work on this issue?

[2022-10-14 08:56] Aman-Mandal commented on #135
it's already assigned to someone Sir

[2022-10-14 09:40] 72002sweta commented on #47
If it's open, please assign 😊

[2022-10-14 11:00] Aman-Mandal commented on #47
I think @Sakshy18 is working on it already :))

[2022-10-14 11:07] Sakshy18 commented on #47
Yes its already done and merged

On Fri, 14 Oct 2022, 4:30 pm Aman Mandal, ***@***.***> wrote:

[2022-10-14 13:00] diegolikescode commented on #89
not really, but I'll do some research and test somethings, the axios' config is already done, I'll do it boys

[2022-10-14 13:07] Aadarsh805 commented on #89
Thanks Diego it'd be really helpful

[2022-10-14 13:15] Aadarsh805 opened #136 "make genre page cards, use dummy data for now"
![image](https://user-images.githubusercontent.com/95094057/195855624-dc241694-82a2-4407-96a8-a047df29adbd.png)

[2022-10-14 13:17] Aadarsh805 opened #137 "make genre page navlist (tablist), linked to their dynamic Genre/[genreCategory]"
![image](https://user-images.githubusercontent.com/95094057/195856304-ab3ba9dd-d163-41ac-9848-eb5cd7f8fe95.png)

[2022-10-14 13:18] DarkSoul26 commented on #136
@Aadarsh805 can I contribute to this issue?

[2022-10-14 13:28] sumit-022 commented on #136
I can work on this. Please assign me this issue

[2022-10-14 14:03] Aadarsh805 commented on #136
yes sir, go ahead assigned you

[2022-10-14 14:04] Aadarsh805 commented on #136
You can work on the navlist of genre page, there is another issue on that, I'll assign you on that if you wanna work on it, just drop a comment on that issue

[2022-10-14 14:12] simonkrizo commented on #137
Hello, I would like to contribute, can you assign this issue to me?

[2022-10-14 14:15] sumit-022 commented on #137
I can work on this. Please assign this to me

[2022-10-14 14:17] jankvc commented on #137
I can do this, assign me please

[2022-10-14 14:18] Aman-Mandal commented on #137
Here u go!!🤜🤛

[2022-10-14 14:19] Aman-Mandal commented on #137
Hey man, sorry but @sumit-022 asked first!! You can checkout others issues

[2022-10-14 15:51] jankvc commented on #137
can u assign me, since he removed himself

[2022-10-14 16:21] Aman-Mandal commented on #137
go ahead

[2022-10-15 06:58] DarkSoul26 commented on #136
Hey @Aadarsh805 can you tell whether browse page already exists?

[2022-10-15 08:39] Aadarsh805 commented on #136
yes we have a genres page already but we are updating it to the new UI

[2022-10-15 16:41] #137 closed, assigned to jankvc

[2022-10-15 16:45] Aadarsh805 opened #140 "Make child pages of Genre page dynamic as [genreCategory].js and link to the navlist in genre page dynamically"

[2022-10-15 20:38] ASANIYAN commented on #140
Hello, Can you explicitly explain what you want to get done?

[2022-10-16 07:12] #135 closed, assigned to jsvigneshkanna

[2022-10-16 07:12] Aman-Mandal commented on #134
Any updates @Anish-Sarawgi ?

[2022-10-16 07:16] Aman-Mandal opened #142 "[BUG] Add the key prop"
![IMG_20221016_124438.jpg](https://user-images.githubusercontent.com/64729135/196023292-d6fcf538-a58e-41c5-aec3-150e6cbfc667.jpg)

Add the key prop in TopArtist.jsx component, its giving trouble while deployment!!

[2022-10-16 07:18] jason1985 commented on #142
I'd like to do this one if possible

[2022-10-16 07:18] Aman-Mandal opened #143 "[Fix] Disable the EsLint"
Disable the eslint as it is giving trouble while deploying

Use the docs for reference,
https://nextjs.org/docs/basic-features/eslint#disabling-rules

Just simply add the codes in .eslint file
[code]

[2022-10-16 07:23] Aman-Mandal commented on #142
Sure...go ahead Sir!!

Assigned you

[2022-10-16 08:11] Aman-Mandal commented on #142
Thanks @jason1985

[2022-10-16 08:11] #142 closed, assigned to jason1985

[2022-10-16 12:41] #140 closed, assigned to nobody

[2022-10-16 12:57] Ananyamadhu08 commented on #143
Hey @Aman-Mandal I would like to work on this issue.

[2022-10-16 13:09] Aadarsh805 commented on #143
assigned you

[2022-10-16 18:21] #134 closed, assigned to Anish-Sarawgi

[2022-10-18 07:18] jeoffreyduke commented on #143
I could do this

[2022-10-18 11:15] Aman-Mandal commented on #143
It's already assigned to @Ananyamadhu08

[2022-10-19 08:34] #24 closed, assigned to Im-Kunal-13

[2022-10-19 08:35] #42 closed, assigned to peterintech

[2022-10-24 11:07] DarkSoul26 commented on #136
Hey @Aadarsh805 can you please tell me where the Routes are present?

[2022-10-24 14:37] MunavvarSinan commented on #136
can u assign me this task if it is not done yet

[2022-10-24 15:17] MunavvarSinan opened #151 "Fix icon colours"
All the icons like notification , hamburger etc are in just black and it is not visible

[2022-10-25 02:19] andrewkykoo commented on #151
Hi @MunavvarSinan @Aman-Mandal, do we have any expectations in terms of colors? If not, I can go head and update the icons with most suitable colors.

[2022-10-25 03:59] Aman-Mandal commented on #151
No expectations as of now, just simply make it off-white

[2022-10-25 05:12] andrewkykoo commented on #151
Which icons are you referring to? A screenshot of them could help. What I am seeing on the landing page are already white notification button and hamburger menu icon.

[2022-10-25 05:41] MunavvarSinan commented on #151
![Screenshot_20221025-111040-489~2.png](https://user-images.githubusercontent.com/73233808/197691930-680b020b-e689-44fd-b9b9-34731a777840.png)

[2022-10-27 16:48] nidhi333-9 commented on #120
Hey @Aadarsh805 , How can I get the background images of the artists?

[2022-10-28 11:19] Aadarsh805 commented on #120
You can put any dummy picture for now, later ahead they will be dynamic through the api

[2022-10-28 11:22] Aadarsh805 commented on #151
These were already fixed, you sure your repo is on sync??

[2022-10-28 14:49] nidhi333-9 commented on #120
Hii there! One more query, Will I have to remove my APIs key too from the files??

[2022-10-28 15:53] MunavvarSinan commented on #151
It was not fixed when i was reported this issue

[2022-10-29 08:18] Aadarsh805 commented on #120
yeah keep them API keys in the local env file only

[2022-10-29 08:20] Aadarsh805 commented on #151
it works on mine

[2022-10-29 08:20] #151 closed, assigned to andrewkykoo

[2022-10-29 08:21] Aadarsh805 opened #153 "The sidebar should close when a sidebar link is clicked on mobile screen size"

[2022-10-29 12:38] srijoy-paul commented on #153
Hey @Aadarsh805 I would like to work on this, assign me this

[2022-10-31 10:42] Aadarsh805 commented on #153
u have it, go ahead

[2022-10-31 10:44] #153 closed, assigned to nobody

[2022-10-31 10:44] Aadarsh805 commented on #153
this has already been solved

[2022-10-31 12:55] srijoy-paul commented on #153
If there is no, rules on your repo, then why do you even added hactoberfest label, just to time waste of people.
If this was an open issue, and commented to assign by someone.
then how it can be solved by others. And even you are accepting

[2022-11-10 10:55] EhsanFox commented on #143
Better to close this issue now i guess.